.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.brand-logo {
    width: 75px;
    /* Adjust this value as needed */
    height: auto;
    /* Maintains aspect ratio */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar-links a:hover {
    background-color: #444;
}